[submodule "noxus"]
	path = noxus
	url = https://github.com/laam4/noxus.git
[submodule "sourcebans"]
	path = sourcebans
	url = https://github.com/melkor217/SourceBans-Fork.git
[submodule "docker-docker-stats-statsd"]
	path = docker-docker-stats-statsd
	url = https://github.com/davidgiesberg/docker-docker-stats-statsd.git
