MYSQL_USER=ayanami
MYSQL_DATABASE=ayanami
MYSQL_PASSWORD=such_secret1337
SECRET_KEY_BASE=also_very_secret101iex7looC0baeyaibee9ozahChee2aiPa

MYSQL_RANDOM_ROOT_PASSWORD=yes

GOOGLE_ANALYTICS_KEY=UA-00000000-0
STEAM_WEB_API_KEY=DED261D3AE3D24964AD8F46D12333335
