<div class="container">
  <%= react_component '_.ClanTable', {url: clans_path(format: :json),
                                      members: params[:members],
                                      sort: params[:sort],
                                      order: params[:order],
                                      page: params[:page],
                                      size_per_page: params[:limit]} %>
</div>
