<% if (group = SteamGroup.sitegroup) %>
    <ul class="nav navbar-nav">
      <li>
        <a class="navbar-brand" href="/"><%= group.groupName %></a>
      </li>
      <li>
        <a class="fake" href="<%= SteamId.steam_group_url(group) %>">
          <img alt="Ayanami" class="navbar-brand navbar-group highlight" src="<%= group.avatarMedium %>"/>
        </a>
      </li>
    </ul>
<% else %>
    <ul class="nav navbar-nav">
      <li>
        <a class="navbar-brand" href="<%= players_path %>">Ayanami</a>
      </li>
    </ul>
<% end %>
